# Last version to support duckdb 1.2.1, dbt-duckdb 1.9.3 explicitly say "Bump duckdb version to v1.2.2"
# source: github.com/duckdb/dbt-duckdb/releases
# It is important because the driver I use for duckdb on metabase supports duckdb 1.2.1
dbt-duckdb==1.9.2 
duckdb==1.2.1 # Force it because it still want to be in 1.2.2 otherwise

jafgen==0.4.14